<html>
    <head>
        <title>Театральная студия "В Созвездиях"</title>
    </head>
    <body>
    <table border="0" width="1000" align="center" bgcolor="#dddddd" cellpadding="0" cellspacing="0">
        <tr>
        <td width="150" align="center"><img src="~/img/logo.jpg" width="100"></td>
        <td align="center"><H1>Театральная студия "В Созвездиях"</H1></td>
        <td width="200">
            <table  cellpadding="5"  width="100%">
                <tr>
                    <td align="right"><input type="text" value="логин"></td>
                </tr>
                <tr>
                    <td align="right"><input type="password" value="логин"></td>
                </tr>
                <tr>
                    <td align="right"><input type="submit" value="войти"></td>
                </tr>
            </table>
        </td>
        </tr>
    </table> 
    
    <table border="0" width="1000" align="center" cellpadding="5" cellpadding="0">
        <tr>
        <td align="center"><a href="~/MainChapter/Gallery">Галерея</a></td>
        <td align="center"><a href="~/MainChapter/Vacancies">Вакансии</a></td>
        <td align="center"><a href="~/MainChapter/Contacts">Контакты</a></td>
        <td align="center"><a href="~/MainChapter/About">О нас</a></td>
        </tr>
    </table> 
    <BR>
    <table border="0" width="1000" align="center" bgcolor="#dddddd" cellpadding="5" cellpadding="0">
        <tr>
            <td width="150" cellpadding="5" valign="top" align="center">
                <a href="~/SubChapter/Courses">Кружки</a><BR>
                <a href="~/SubChapter/FastCourses">Интенсивные курсы</a><BR>
                <a href="~/SubChapter/Services">Услуги</a><BR>
                <a href="~/SubChapter/FAQ">Частые вопросы</a>
            <td>
            <td>
                <H1  align="center">О клубе</H1>
                <p align="justify">
                    "В Созвездиях" - театр-студия для взрослых. Это творческий коллектив, работающий на энтузиазме и в просветительских целях.
                </p>
                <p align="justify">Коллектив ставит спектакли, ориентированные на семейные ценности и поднимает как бытовые вопросы, так и темы отношений между людьми и в обществе.</p>
                <H2>Руководитель клуба</H2>
                <img src="~/img/Podvigina.webp" width="550">
                <H2>Подвигина Елена</H2>
                <BR>О нас:<BR>
                <table border="3" cellpadding="20" cellspacing="5">
                 <tr>
                    <td rowspan=3>Наши актеры</td>
                </tr>
                <tr>
                    <td><img src="~/img/actors/4lsirxtjwc8.webp" width="150"></td>
                    <td><img src="~/img/actors/gr6znszsm7q.webp" width="150"></td>
                </tr>
                <tr>
                    <td ><img src="~/img/actors/vnxl6gwa0uo.webp" width="150"></td>
                    <td ><img src="~/img/actors/yxek6z3_d9o.webp" width="150"></td>
                </tr>
                <tr>
                    <td >Выступления</td>
                    <td >Ханума</td>
                    <td >Даром преподаватели</td>
                </tr>
                </table><BR>
                Что организуем:<BR>
                <ul type="circle">
                    <li> Спектакли
                    <li> Творческие вечера
                    <li> Концерты
                </ul>
                <BR>
                Контакты:<BR>
                <ol type="a">
                    <li> Елена Подвигина
                    <li> Виктор Зерский
                </ol>
                <BR>
                О нашем коллективе:<BR>
                <ol type="A">
                    <li>Энергичный
                    </li>
                    <li> Продуктивный
                        <ol type="a">
                            <li>В репетициях
                            </li>
                            <li>На сцене
                            </li>
                        </ol>
                    <li> Дружный
                </ol>
            </td>
            <td valign="top" align="center">
                <img src="~/img/man.jpg" width="200">
            </td>
        </tr>
    </table>
    <footer>
        <p align="center">&copy; 2023 Моя Компания</p>
        <p align="center">Контактная информация: example@example.com</p>
    </footer>
    
    
    </body>
    </html>
